body{
  background-color: rgb(230, 115, 115);
}

.centrado{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: rgb(250, 250, 250);
  padding: 10px;
  width: auto;
  font-weight: 600;
}